body {
    background-color: white;
    margin: 0;
    padding: 0;
    zoom: 0.67; /* Ajuste del nivel de zoom */
    overflow-x: hidden; /* Evita barras de desplazamiento horizontales */
}

.contenedor-principal {
    width: 100%;
    height: 100%;
    border: 0px solid #ffffff;
}

.contenedor-arriba {
    background-color: #2075e6;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;
    min-height: 70px;
    padding: 0;
    text-align: center;
}

.contenedor-arriba a {
    margin: 0; /* Elimina el margen en todas las direcciones */
    padding: 40px 22px;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
   /* border: 2px solid #002b5d;    */
}

.contenedor-arriba a:first-child {
    border-radius: 0 0 0 4px; /* Agrega esquinas redondeadas solo en la esquina inferior izquierda */
}

.contenedor-arriba a:last-child {
    border-radius: 0 0 4px 0; /* Agrega esquinas redondeadas solo en la esquina inferior derecha */
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Ajusta el margen derecho del logo */
}

.logo img {
    height: 60px;
    width: auto;
}



.contenedor-arriba a:hover {
    background-color: #002b5d; /* Color de fondo al pasar el cursor sobre las opciones del menú */
}

.lista-productos {
    background-color: #002b5d;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
}

.opcion-oscuro {
    /* Estilos para la opción "Productos" */
    background-color: darkblue;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
}






.contenido{
    margin-top: 20px;
}

.Contenido img{
   margin-top: 50px;
   width: 800px;

}
.Contenido .Boton1{
    margin-top: 30px;
    padding: 10px;
    margin-left: 35.5%;
    background-color: #ff914d;
    color: #fff; 
}
.Contenido .Boton2{
    margin-top: 50px;
    padding: 10px;
    margin-left: 10.5%;
    background-color: #ff914d;
    color: #fff; 
}